In [218]:
import pandas as pd
import numpy as np

### Ajustando a base de dados

In [219]:
db = pd.read_csv('imoveis_rio.csv', sep=',')
db['Bairro'] = 0
db['Aluguel(R$)'] = 0
db['Condomínio(R$)'] = 0
db['IPTU(R$)'] = 0
db['Área(m²)'] = db['Área']

In [220]:
bairros = db.groupby('Bairro').count()
bairro_zona_map = {
    'Leblon': 'Zona Sul', 'Ipanema': 'Zona Sul', 'Copacabana': 'Zona Sul', 'Botafogo': 'Zona Sul',
    'Jardim Botânico': 'Zona Sul', 'Flamengo': 'Zona Sul', 'Lagoa': 'Zona Sul', 'Laranjeiras': 'Zona Sul',
    'Humaitá': 'Zona Sul', 'Leme': 'Zona Sul', 'Cosme Velho': 'Zona Sul', 'Catete': 'Zona Sul',
    'Urca': 'Zona Sul', 'Joá': 'Zona Sul', 'São Conrado': 'Zona Sul', 'Gávea': 'Zona Sul',
    'Vidigal': 'Zona Sul', 

    'Barra da Tijuca': 'Zona Oeste', 'Barra Olímpica': 'Zona Oeste', 'Freguesia (Jacarepaguá)': 'Zona Oeste',
    'Jacarepaguá': 'Zona Oeste', 'Vargem Grande': 'Zona Oeste', 'Vargem Pequena': 'Zona Oeste',
    'Recreio dos Bandeirantes': 'Zona Oeste', 'Taquara': 'Zona Oeste', 'Anil': 'Zona Oeste',
    'Curicica': 'Zona Oeste', 'Gardênia Azul': 'Zona Oeste', 'Tanque': 'Zona Oeste',
    'Guaratiba': 'Zona Oeste', 'Barra de Guaratiba': 'Zona Oeste', 'Pedra de Guaratiba': 'Zona Oeste',
    'Campo Grande': 'Zona Oeste', 'Paciência': 'Zona Oeste', 'Senador Vasconcelos': 'Zona Oeste',
    'Bangu': 'Zona Oeste', 'Santa Cruz': 'Zona Oeste', 'Magalhães Bastos': 'Zona Oeste',
    'Jardim Sulacap': 'Zona Oeste', 'Realengo': 'Zona Oeste', 'Padre Miguel': 'Zona Oeste',
    'Inhoaíba': 'Zona Oeste', 'Camorim': 'Zona Oeste', 'Cidade de Deus': 'Zona Oeste',
    'Campo dos Afonsos': 'Zona Oeste', 'Santíssimo': 'Zona Oeste', 'Cosmos': 'Zona Oeste',
    'Senador Camará': 'Zona Oeste', 'Itanhangá': 'Zona Oeste', 'Pechincha': 'Zona Oeste', 'Vila Valqueire' : 'Zona Oeste', 'Praça Seca': 'Zona Oeste', 

    'Tijuca': 'Zona Norte', 'Vila Isabel': 'Zona Norte', 'Andaraí': 'Zona Norte', 'Grajaú': 'Zona Norte',
    'Maracanã': 'Zona Norte', 'Méier': 'Zona Norte', 'Encantado': 'Zona Norte', 'Cachambi': 'Zona Norte',
    'Engenho Novo': 'Zona Norte', 'Piedade': 'Zona Norte', 'Todos os Santos': 'Zona Norte',
    'Pilares': 'Zona Norte', 'Irajá': 'Zona Norte', 'Riachuelo': 'Zona Norte',
    'Alto da Boa Vista': 'Zona Norte', 'Engenho de Dentro': 'Zona Norte',
    'Quintino Bocaiúva': 'Zona Norte', 'Engenho da Rainha': 'Zona Norte',
    'Colégio': 'Zona Norte', 'Lins de Vasconcelos': 'Zona Norte', 'Tomás Coelho': 'Zona Norte',
    'Madureira': 'Zona Norte', 'Cascadura': 'Zona Norte', 'Vila da Penha': 'Zona Norte',
    'Del Castilho': 'Zona Norte', 'Coelho Neto': 'Zona Norte', 'Pavuna': 'Zona Norte',
    'Honório Gurgel': 'Zona Norte', 'Vila Kosmos': 'Zona Norte', 'Ramos': 'Zona Norte',
    'Cacuia': 'Zona Norte', 'Praça da Bandeira': 'Zona Norte', 'Brás de Pina': 'Zona Norte',
    'Praia da Bandeira': 'Zona Norte', 'Jardim Guanabara': 'Zona Norte',
    'Penha Circular': 'Zona Norte', 'Maria da Graça': 'Zona Norte', 'Jacaré': 'Zona Norte',
    'Jardim Carioca': 'Zona Norte', 'Campinho': 'Zona Norte', 'Bancários': 'Zona Norte',
    'Ribeira': 'Zona Norte', 'Cocotá': 'Zona Norte', 'Turiaçu': 'Zona Norte',
    'Vaz Lobo': 'Zona Norte', 'Tauá': 'Zona Norte', 'Sampaio': 'Zona Norte',
    'Engenheiro Leal': 'Zona Norte', 'Bento Ribeiro': 'Zona Norte', 'Rocha Miranda': 'Zona Norte',
    'Rocha': 'Zona Norte', 'Penha': 'Zona Norte', 'Braz de Pina': 'Zona Norte',
    'Vicente de Carvalho': 'Zona Norte', 'Higienópolis': 'Zona Norte', 'Água Santa': 'Zona Norte',
    'Oswaldo Cruz': 'Zona Norte', 'Inhaúma': 'Zona Norte', 'Parada de Lucas': 'Zona Norte',
    'Vasco da Gama': 'Zona Norte', 'Anchieta': 'Zona Norte', 'Portuguesa': 'Zona Norte',
    'Olaria': 'Zona Norte', 'Abolição': 'Zona Norte', 'Benfica': 'Zona Norte',
    'São Francisco Xavier': 'Zona Norte', 'Jardim América': 'Zona Norte',  'São Cristóvão': 'Zona Norte',
    'Guadalupe': 'Zona Norte', 'Ricardo de Albuquerque': 'Zona Norte', 'Cavalcanti': 'Zona Norte',
    'Estácio': 'Zona Norte', 'Mangueira': 'Zona Norte', 'Parque Anchieta': 'Zona Norte',
    'Marechal Hermes': 'Zona Norte', 'Zumbi': 'Zona Norte', 'Parque Colúmbia': 'Zona Norte',
    'Paquetá': 'Zona Norte', 'Vista Alegre': 'Zona Norte', 'Vigário Geral': 'Zona Norte', 'Cordovil': 'Zona Norte',
    'Freguesia (Ilha do Governador)': 'Zona Norte', 'Moneró': 'Zona Norte', 'Freguesia(Ilha do Governador)': 'Zona Norte', 'Bonsucesso': 'Zona Norte',

    'Centro': 'Zona Central', 'Rio Comprido': 'Zona Central',
    'Santo Cristo': 'Zona Central', 'Cidade Nova': 'Zona Central', 'Saúde': 'Zona Central',
    'Catumbi': 'Zona Central', 'Glória': 'Zona Central', 'Santa Teresa': 'Zona Central'
}

In [221]:
db['Bairro'] = db['Local'].str.extract(r'em\s+([^,]+),')

db['Aluguel(R$)'] = db['Preço'].str.extract(r'R\$\s*([\d\.]+(?:\/(?:mês|dia))?)')
db['IPTU(R$)'] = db['Preço'].str.extract(r'IPTU\s*R\$\s*([\d\.]+)')
db['Condomínio(R$)'] = db['Preço'].str.extract(r'Cond\.\s*R\$\s*([\d\.]+)')

db['Área(m²)'] = db['Área(m²)'].str.split()
db['Área(m²)'] = db['Área(m²)'].str[-2]

db['Quartos'] = db['Quartos'].str.split()
db['Quartos'] = db['Quartos'].str[-1]

db['Banheiros'] = db['Banheiros'].str.split()
db['Banheiros'] = db['Banheiros'].str[-1]

db['Vagas'] = db['Vagas'].str.split()
db['Vagas'] = db['Vagas'].str[-1]

db['Zona'] = db['Bairro'].apply(lambda x: bairro_zona_map.get(x, 'Outra'))
db.drop(columns=['Local', 'Preço'], inplace=True)

In [222]:
ordem = ['Bairro','Aluguel(R$)', 'Condomínio(R$)', 'IPTU(R$)', 'Área(m²)', 'Quartos', 'Banheiros', 'Vagas',  'Zona', 'Link']
db_filtrado = db.reindex(columns=ordem)
db_filtrado.head()

,Bairro,Aluguel(R$),Condomínio(R$),IPTU(R$),Área(m²),Quartos,Banheiros,Vagas,Zona,Link
0,Glória,3.100/mês,550,100,42,1,1,NaN,Zona Central,https://www.zapimoveis.com.br/imovel/aluguel-a...
1,Ipanema,13.500/mês,2.834,907,140,3,4,2,Zona Sul,https://www.zapimoveis.com.br/imovel/aluguel-a...
2,Piedade,1.900/mês,860,110,70,3,2,1,Zona Norte,https://www.zapimoveis.com.br/imovel/aluguel-a...
3,Recreio dos Bandeirantes,7.000/mês,NaN,NaN,90,3,1,2,Zona Oeste,https://www.zapimoveis.com.br/imovel/venda-apa...
4,Ipanema,25.000/mês,2.100,9.000,220,4,3,3,Zona Sul,NaN

### Tratamento de Dados

In [223]:
#Tratamento (remoção) dos aluguéis diários
mensais = db_filtrado[db_filtrado['Aluguel(R$)'].str[-1]!='a']
db_filtrado = mensais
valor = db_filtrado['Aluguel(R$)'].str.replace('/mês', '', regex=False)
db_filtrado['Aluguel(R$)'] = valor
db_filtrado

,Bairro,Aluguel(R$),Condomínio(R$),IPTU(R$),Área(m²),Quartos,Banheiros,Vagas,Zona,Link
0,Glória,3.100,550,100,42,1,1,NaN,Zona Central,https://www.zapimoveis.com.br/imovel/aluguel-a...
1,Ipanema,13.500,2.834,907,140,3,4,2,Zona Sul,https://www.zapimoveis.com.br/imovel/aluguel-a...
2,Piedade,1.900,860,110,70,3,2,1,Zona Norte,https://www.zapimoveis.com.br/imovel/aluguel-a...
3,Recreio dos Bandeirantes,7.000,NaN,NaN,90,3,1,2,Zona Oeste,https://www.zapimoveis.com.br/imovel/venda-apa...
4,Ipanema,25.000,2.100,9.000,220,4,3,3,Zona Sul,NaN
...,...,...,...,...,...,...,...,...,...,...
9623,Jardim Guanabara,3.400,NaN,NaN,130,3,3,1,Zona Norte,https://www.zapimoveis.com.br/imovel/aluguel-a...
9625,Tanque,2.100,250,50,100,2,1,1,Zona Oeste,https://www.zapimoveis.com.br/imovel/aluguel-a...
9626,Ipanema,5.500,1.128,250,76,2,2,NaN,Zona Sul,https://www.zapimoveis.com.br/imovel/aluguel-a...
9627,Campo Grande,1.200,NaN,NaN,50,2,1,NaN,Zona Oeste,https://www.zapimoveis.com.br/imovel/aluguel-a...
9628,Barra da Tijuca,3.500,2.000,NaN,73,2,1,NaN,Zona Oeste,https://www.zapimoveis.com.br/imovel/aluguel-a...

In [224]:
valor_puro = valor.str.replace('.', '', regex=False)
db_filtrado['Aluguel(R$)'] = valor_puro
db_filtrado['Aluguel(R$)'] = db_filtrado['Aluguel(R$)'].astype(float)

cond = db_filtrado ['Condomínio(R$)'].str.replace('.', '', regex=False)
db_filtrado ['Condomínio(R$)'] = cond
db_filtrado['Condomínio(R$)'] = db_filtrado['Condomínio(R$)'].astype(float)

iptu = db_filtrado['IPTU(R$)'].str.replace('.', '', regex=False)
db_filtrado['IPTU(R$)'] = iptu
db_filtrado['IPTU(R$)'] = db_filtrado['IPTU(R$)'].astype(float)

In [225]:
areas = []
for valor_str in db_filtrado['Área(m²)']:
    if '-' in valor_str:
        partes = [float(val.strip()) for val in valor_str.split('-')]
        areas.append(np.mean(partes))
    else:
        areas.append(float(valor_str))
db_filtrado['Área(m²)'] = areas

quartos = []
for valor_str in db_filtrado['Quartos']:
    if pd.isna(valor_str):
        quartos.append(np.nan) 
        continue

    if '-' in valor_str:
        partes = [float(val.strip()) for val in valor_str.split('-')] 
        quartos.append(np.mean(partes))
    else: 
        quartos.append(float(valor_str.strip())) 

banheiros = []
for valor_str in db_filtrado['Banheiros']:
    if pd.isna(valor_str):
        banheiros.append(np.nan) 
        continue

    if '-' in valor_str:
        partes = [float(val.strip()) for val in valor_str.split('-')] # Usar float é mais seguro para média
        banheiros.append(np.mean(partes))
    else: 
        banheiros.append(float(valor_str.strip())) # Usar float é mais flexível

vagas = []
for valor_str in db_filtrado['Vagas']:
    if pd.isna(valor_str):
        vagas.append(np.nan) 
        continue

    if '-' in valor_str:
        partes = [float(val.strip()) for val in valor_str.split('-')] # Usar float é mais seguro para média
        vagas.append(np.mean(partes))
    else: 
        vagas.append(float(valor_str.strip())) #
db_filtrado['Área(m²)'] = areas
db_filtrado['Quartos'] = quartos
db_filtrado['Banheiros'] = banheiros
db_filtrado['Vagas'] = vagas

#### Tratando Dados faltantes

In [226]:
db_filtrado.shape
db_filtrado.isna().sum()

Bairro               0
Aluguel(R$)          5
Condomínio(R$)     881
IPTU(R$)          2409
Área(m²)             0
Quartos             50
Banheiros            7
Vagas             2772
Zona                 0
Link               436
dtype: int64

In [227]:
#Os apartamentos com aluguéis faltantes, também possuem IPTU e Condomínio faltantes.(MAR)
db_filtrado[db_filtrado['Aluguel(R$)'].isna()] 
db_filtrado['Aluguel(R$)'] = db_filtrado['Aluguel(R$)'].fillna(np.nanmedian(db_filtrado['Aluguel(R$)']))

In [228]:
#Condomínio e IPTU possuem muitos dados faltante por não terem sido informados no anuncio, a maioria deles provavelmente por erro do usuário.
db_filtrado[db_filtrado['Condomínio(R$)'].isna()]
db_filtrado[db_filtrado['IPTU(R$)'].isna()]

db_filtrado['Condomínio(R$)'] = db_filtrado['Condomínio(R$)'].fillna(np.nanmedian(db_filtrado['Condomínio(R$)']))
db_filtrado['IPTU(R$)'] = db_filtrado['IPTU(R$)'].fillna(np.nanmedian(db_filtrado['IPTU(R$)']))

In [229]:
#Dados faltantes na coluna "Quartos" sempre acontece quando o apartamento é muito pequeno, provavelmente por ser uma kitnet, substituiremos por 1 então.
db_filtrado[db_filtrado['Quartos'].isna()]

db_filtrado['Quartos'] = db_filtrado['Quartos'].fillna(1)

In [230]:
#são poucos os imóveis com dados faltantes de banheiro e ocorre por erro de digitação, então podemos remover esses
db_filtrado[db_filtrado['Banheiros'].isna()]

db_filtrado.dropna(subset = ['Banheiros'], inplace = True)

In [231]:
#QUando o número de vagas de garagem não é informado, geralmente é quando aquele apartamento não oferece nenhuma vaga
db_filtrado[db_filtrado['Vagas'].isna()]

db_filtrado['Vagas'] = db_filtrado['Vagas'].fillna(0)

In [232]:
#imóveis sem link são frutos de erro na extração de dados, iremos removê-los
db_filtrado[db_filtrado['Link'].isna()]

db_filtrado.dropna(subset = ['Link'], inplace = True)

In [233]:
db_filtrado.isna().sum()

Bairro            0
Aluguel(R$)       0
Condomínio(R$)    0
IPTU(R$)          0
Área(m²)          0
Quartos           0
Banheiros         0
Vagas             0
Zona              0
Link              0
dtype: int64